* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
}
body {
  background: linear-gradient(#ccf6ff, #ffffff);
  background-repeat: no-repeat;
  height: 100vh;
}
.background {
  z-index: 1;
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.cloud,
.frog {
  width: 100px;
  position: absolute;
  z-index: 2;
}
img.logo {
  /* position: fixed; */
  width: 80vw;
  margin: 0 auto;
  margin-top: 10px;
}

.firstcloud {
  top: 10vh;
  left: 0;
  transform: translateX(-30vw);
  animation: movetoright 10s linear infinite;
}
.secondcloud {
  top: 30vh;
  left: 100%;
  animation: movetoleft 10s linear infinite;
}
.thirdcloud {
  bottom: 38vh;
  left: 0;
  transform: translateX(-30vw);
  animation: movetoright 10s linear infinite;
  animation-delay: 3s;
}
@keyframes movetoright {
  0% {
    transform: translateX(-30vw);
  }

  100% {
    transform: translateX(100vw);
  }
}

@keyframes movetoleft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-130vw);
  }
}

.frog {
  bottom: 5vh;
  left: 0;
}

.grass {
  width: 100vw;
  display: block;
  position: absolute;
  margin-top: 20px;
  bottom: 0;
}

.habits_list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: 3vh;
  z-index: 10;
  padding-bottom: 50px;
  flex-direction: column;
}

.habit-and-icon {
  margin: 0 auto;
  display: flex;
}

.habit-container {
  flex: 4;
}

.habit {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12vw;
  text-align: center;
  width: 70vw;
  height: 12vh;
  background-color: #e9ffae;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  z-index: 100;
  margin: 20px;
  margin-left: 0;
  padding: 0 15px;
}

.icon-container {
  flex: 1;
  align-self: center;
  margin: 0 auto;
}

.icon {
  font-size: 30px;
  padding: 10px;
  margin: 5px;
  border-radius: 50%;
}

i.check {
  background-color: #93c808;
}

i.xmark {
  display: none;
  padding: 12px;
  background-color: #5e8200;
}

@media (orientation: landscape) {
  img.logo {
    margin: 10px 0 0 0;
    width: 50vw;
  }
  .habit {
    width: 60vw;
    padding: 10px;
  }
}
@media (orientation: landscape) and (min-width: 730px) and (max-width: 9000px) {
  img.logo {
    /* position: fixed; */
    width: 50vw;
  }
  .habit {
    width: 60vw;
    height: 17vh;
    font-size: 25px;
  }
  .cloud {
    width: 125px;
  }
}
@media (orientation: portrait) and (min-width: 730px) and (max-width: 9000px) {
  img.logo {
    /* position: fixed; */
    width: 60vw;
  }
  .habit {
    width: 60vw;
    height: 13vh;
    font-size: 30px;
  }
  .cloud {
    width: 125px;
  }
  .icon {
    font-size: 50px;
  }
}
@media (orientation: landscape) and (min-width: 1020px) and (max-width: 9000px) {
  .habit {
    width: 60vw;
    height: 15vh;
    font-size: 30px;
  }
  .cloud {
    width: 150px;
  }
  .icon {
    font-size: 40px;
  }
}
@media (min-width: 1250px) and (max-width: 9000px) {
  img.logo {
    width: 30vw;
  }

  .firstcloud {
    top: 7vh;
  }
  .secondcloud {
    top: 26vh;
  }
  .habit {
    width: 40vw;
    height: 10vh;
    font-size: 33px;
  }
  .cloud,
  .frog {
    width: 180px;
  }
  .frog {
    bottom: 7vh;
    left: 6vw;
  }
  .icon {
    font-size: 45px;
  }
}
